@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/* colors */

:root {
  --clr-primary-blue: rgb(79, 125, 243);
  --clr-secondary-pale-blue: hsl(223, 100%, 88%);
  --clr-secondary-red: hsl(354, 100%, 66%);
  --clr-neutral-gray: hsl(0, 0%, 59%);
  --clr-neutral-dark-blue: hsl(209, 33%, 12%);
  --clr-background: "#ffffff";
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: var(--clr-neutral-dark-blue);
  background-color: var(--clr-background);
}

h1 {
  color: var(--clr-neutral-gray);
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 300;
}

p {
  margin: 0;
}

#wrapper {
  max-width: 70%;
  margin: 5rem auto;
}

.main__title strong {
  color: black;
}

.app__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.app__container_main {
  margin-top: 18rem !important;
}

.app__container_search {
  margin-top: 4rem !important;
}

.app__container_feed {
  margin-top: 12rem !important;
}

.app__container .search_query,
.app__container .app__btn {
  height: 3rem;
  border-radius: 50px;
}

.app__container .search_query {
  width: 400px;
  border: 2px solid var(--clr-primary-blue);
  padding-left: 20px;
  margin-bottom: 8px;
}

.app__container .search_query:focus,
.app__container .search_query:hover,
.app__container .app__btn:focus {
  outline: none;
  border-color: black;
}

.app__container .search_query::placeholder {
  font-size: 1rem;
  color: var(--clr-secondary-pale-blue);
}

.app__container .app__btn {
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--clr-primary-blue);
  color: white;
  width: 180px;
  border: none;
  margin-left: 1rem;
  box-shadow: 2px 2px 10px rgba(79, 125, 243, 0.5);
  cursor: pointer;
}

.app__container .app__btn:hover {
  opacity: 0.8;
}

.app__container .input__error {
  display: none;
}

.app__input.error .search_query {
  border-color: var(--clr-secondary-red);
}

.app__input.error .input__error {
  display: block;
  text-align: left;
  color: var(--clr-secondary-red);
  font-size: 12px;
  font-style: italic;
  margin-left: 20px;
}

.main__img img {
  width: 80%;
  margin: 4rem auto;
}

.icon_buttons {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.icon_buttons a {
  width: 40px;
  height: 40px;
  line-height: 35px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--clr-primary-blue);
  border-radius: 50px;
  margin: 0 5px;
}

.icon_buttons i {
  font-size: 1rem;
  color: var(--clr-primary-blue);
}

.icon_buttons a:hover {
  background-color: var(--clr-primary-blue);
}
.icon_buttons a:hover i {
  color: white;
  background-color: var(--clr-primary-blue);
}

.social__icons {
  margin: 2rem auto;
  margin-top: 10rem !important;
  display: flex;
  justify-content: center;
}

.social__icons a {
  width: 40px;
  height: 40px;
  line-height: 35px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--clr-primary-blue);
  border-radius: 50px;
  margin: 0 5px;
}

.social__icons i {
  font-size: 1rem;
  color: var(--clr-primary-blue);
}

.social__icons a:hover {
  background-color: var(--clr-primary-blue);
}
.social__icons a:hover i {
  color: white;
  background-color: var(--clr-primary-blue);
}

.copywrite {
  font-size: 12px;
  color: var(--clr-neutral-gray);
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 2rem;
    margin-top: 4rem;
  }
  .app__container {
    flex-direction: column;
  }
  .app__container .search_query {
    width: 100%;
  }
  .app__container_main {
    margin-top: 10rem !important;
  }
  
  .app__container_search {
    margin-top: 4rem !important;
  }
  .app__container_feed {
    margin-top: 17rem !important;
  }
  .app__container .search_query:focus,
  .app__container .app__btn:focus {
    outline: none;
  }
  .app__container .app__btn {
    margin: 10px auto;
    width: 100%;
  }
  .main__img img {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 1.3rem;
  }

  p {
    font-size: 12px;
  }

  #wrapper {
    max-width: 80%;
  }

  .ping__logo img {
    width: 65px;
    margin: 1rem auto;
  }

  .app__container {
    flex-direction: column;
  }

  .app__container .search_query {
    width: 100%;
    height: 2rem;
  }

  .app__container_search {
    margin-top: 8rem !important;
  }
  .app__container_feed {
    margin-top: 20rem !important;
  }

  .app__container .search_query:focus,
  .app__container .app__btn:focus {
    outline: none;
  }

  .app__container .search_query::placeholder,
  .app__container .app__btn {
    font-size: 12px;
  }

  .app__container .app__btn {
    margin: 10px auto;
    width: 100%;
    height: 2rem;
  }

  .app__input.error .input__error {
    font-size: 11px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 8px;
  }

  .main__img img {
    width: 100%;
    margin: 2rem auto 3rem;
  }

  .copywrite,
  .attribution {
    font-size: 10px;
  }

  .attribution {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  color: black;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .band {
      grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .band {
      grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 60em) {
  .item-1 {
      grid-column: 1/span 2;
  }
  .item-1 h1 {
      font-size: 24px;
  }
}